#map {
  height: 380px;
}

#App {
  font-family: sans-serif;
  text-align: center;
}

#map-wrapper {
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  font-family: "Roboto", sans-serif;
  color: #333;
}
body {
  height: 100vh;
}

.searchbar-container {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: none;
  z-index: 1000;
  padding-left: clamp(4px, 5vw, 16px);
  padding-right: clamp(4px, 5vw, 16px);
  padding-top: clamp(4px, 2vw, 8px);
  width: 100%;
}

/* General Mobile Phone resolution */
@media (max-width: 600px) {
  .searchbar-container {
    align-items: center;
    justify-content: center;
  }
}