* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

:root {
  --icon-size: 40px;

  --primary: rgba(25, 25, 79, 1);
  --secondary: rgba(255, 179, 57, 1);

  --accent: rgb(0, 80, 157, 1);
  --icon-color: rgb(0, 80, 157, 1);

  --text: rgb(0, 80, 157, 1);
  --text-accent: rgba(25, 25, 79, 1);
  --bg: rgba(202, 240, 248, 1);
  --bg-accent: rgba(249, 249, 249, 1);

  --btn-hover: rgb(0, 80, 157, 1);
  --btn-active: rgb(0, 62, 119);

  font-family: "Roboto", sans-serif;
  color: var(--text);
}

:root button:hover {
  background-color: var(--btn-hover);
}
:root button:active {
  background-color: var(--btn-active);
}

:root button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: rgba(25, 25, 79, 1);
    --secondary: rgba(255, 179, 57, 1);

    --accent: rgba(20, 20, 20, 0.8);
    --icon-color: rgba(202, 240, 248, 1);

    --text: rgba(202, 240, 248, 1);
    --text-accent: gba(249, 249, 249, 1);

    --bg: rgba(21, 21, 21, 1);
    --bg-accent: rgba(41, 41, 41, 1);

    --btn-hover: rgb(184, 222, 230);
    --btn-active: rgb(134, 163, 168);
  }
}
