* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --viewport-height: calc(var(--vh, 1vh) * 100);
  height: var(--viewport-height);
}

/* For tooltips */
abbr {
  all: unset;
  width: fit-content;
  height: fit-content;
}

:root {
  --icon-size: 40px;

  --poi-highlight: rgb(248, 156, 32);

  --primary: rgba(25, 25, 79, 1);
  --secondary: rgba(255, 179, 57, 1);

  --accent: rgb(0, 80, 157, 1);
  --accent-2: rgb(140, 171, 201);
  --icon-color: rgb(0, 80, 157, 1);
  --icon-bg: rgba(202, 240, 248, 1);
  --icon-subtle: rgb(110, 172, 230);
  --icon-hover: rgba(249, 249, 249, 1);

  --border: rgb(140, 171, 201);

  --text: rgb(0, 80, 157, 1);
  --text-subtle: rgba(0, 81, 157, 0.8);
  --text-placeholder: rgba(0, 81, 157, 0.5);
  --text-accent: rgba(25, 25, 79, 1);
  --text-hover: rgba(249, 249, 249, 1);
  --bg: rgba(202, 240, 248, 1);
  --bg-accent: rgba(249, 249, 249, 1);
  --bg-accent-hover: rgb(239, 239, 239);
  --bg-accent-active: rgb(220, 220, 220);

  --btn-hover: rgb(0, 80, 157, 1);
  --btn-active: rgb(0, 62, 119);

  --box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);

  --danger: oklch(0.5 0.17 30);
  --danger-bg: oklch(92.81% 0.05264 30.253);
  --warning: hsl(45, 37%, 47%);
  --warning-bg: hsl(54, 100%, 90%);
  --warning-accent: hsl(54, 100%, 80%);
  --warning-accent-hover: hsl(54, 100%, 70%);
  --warning-accent-active: hsl(54, 100%, 60%);
  --success: oklch(0.5 0.17 160);
  --success-bg: oklch(92.81% 0.05264 164.253);
  --info: oklch(0.5 0.17 260);

  font-family: "Roboto", "Arial", sans-serif;
  color: var(--text);
}

:root button {
  all: unset;
  user-select: none;
}

:root button:hover {
  background-color: var(--btn-hover);
}
:root button:active {
  background-color: var(--btn-active);
}

:root button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
a {
  color: var(--text);
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: rgba(25, 25, 79, 1);
    --secondary: rgba(255, 179, 57, 1);

    --accent: rgba(20, 20, 20, 0.8);
    --accent-2: rgb(120, 120, 120);
    --icon-color: rgba(202, 240, 248, 1);
    --icon-bg: rgb(52, 51, 61);
    --icon-subtle: rgb(126, 150, 155);
    --icon-hover: rgba(249, 249, 249, 1);

    --border: rgb(120, 120, 120);

    --text: rgba(202, 240, 248, 1);
    --text-subtle: rgba(202, 240, 248, 0.8);
    --text-placeholder: rgba(202, 240, 248, 0.5);
    --text-accent: rgba(249, 249, 249, 1);
    --text-hover: rgba(41, 41, 41, 1);

    --bg: rgb(28, 27, 34);
    --bg-accent: rgb(52, 51, 61);
    --bg-accent-hover: rgb(66, 65, 80);
    --bg-accent-active: rgb(80, 79, 95);

    --btn-hover: rgb(184, 222, 230);
    --btn-active: rgb(134, 163, 168);

    --box-shadow: none;

    --danger: oklch(91.059% 0.03794 17.722);
    --danger-bg: oklch(45.781% 0.14815 25.207);
    --warning: oklch(0.7 0.17 100);
    --warning-bg: oklch(40.163% 0.0435 101.139);
    --success: oklch(0.7 0.17 160);
    --success-bg: oklch(37.067% 0.03461 169.936);
    --info: oklch(0.7 0.17 260);
  }
}
